h1 
{ 
  text-align: center;
}
ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(201, 201, 201);
}

li
{ 
  float: left
}

li a 
{
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
  
li a:hover 
{
  background-color: rgb(160, 160, 160);
}
.Nmap_input
{
  padding-top: 5%;
  padding-left: 25% ;
  display: inline-block;
}
tr:nth-child(even) {
  background-color: rgb(201, 201, 201);
}
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
iframe{
  padding: 1em
}
.Prev_Scans{
  padding-right: 20px;
  float: right;
  overflow: hidden;
}
.resizable{display:block; width:200px; height:200px;}
iframe{ width:100%; height:100%; resize:both; overflow:auto}

.accordion {
  margin: 50px;
}
.accordion dt, .accordion dd {
  padding: 10px;
  border: 1px solid black;
  border-bottom: 0;
}
.accordion dt:last-of-type, .accordion dd:last-of-type {
  border-bottom: 1px solid black;
}
.accordion dt a, .accordion dd a {
  display: block;
  color: black;
  font-weight: bold;
}
.accordion dd {
  border-top: 0;
  font-size: 12px;
}
.accordion dd:last-of-type {
  border-top: 1px solid white;
  position: relative;
  top: -1px;
}
#nmapp{
  text-align: center;
  height: 70%;
  width: 70%;
}
.FlexParent{
  display: flex;
}
.ReadMe{
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
}
.PUC{ 
  flex: 1;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#Dbutton{
  float: right;
}
/* Style the right tabs */
.Rtab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the Right tab content */
.Rtab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of right tab buttons on hover */
.Rtab button:hover {
  background-color: #ddd;
}

/* Create an active/current right tablink class */
.Rtab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

/* Style the Left tab */
* {box-sizing: border-box}
.Ltab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the left tab content */
.Ltab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of left tab buttons on hover */
.Ltab button:hover {
  background-color: #ddd;
}

/* Create an active/current "left tab button" class */
.Ltab button.active {
  background-color: #ccc;
}

.ScansParent{
  display: flex;
}
.LeftChild{
  padding-top: 3%;
  flex: 3;
}
.RightChild{ 
  flex: 7;
}

.api{
  bottom: 0;
}