{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Interactive Nmap</title>
  <meta name="description" content="Help for nmap Frontend">
  <meta name="avi" content="SitePoint">

  <meta property="og:title" content="Interactive Nmap">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.napp.com/hosts">
  <meta property="og:description" content="A simple frontend webapp for nmap tool">
  <meta property="og:image" content="image100.png">


  <link rel="stylesheet" type="text/css" href="{% static '/nhome/styles.css' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static '/nhome/scripts.js' %}"></script>
  </head>
    <body>
        <div class="container">
            <h1>IP Addess</h1>
        </div>
        <div class="container2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Region</th>
                        <th>Zip</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Query</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>S{{ ip2.region_code }}</td>
                        <td>S{{ ip2.zip }}</td>
                        <td>S{{ ip2.country_code }}</td>
                        <td>S{{ ip2.city }}</td>
                        <td>S{{ ip2.ip }}</td>
                    </tr> 
                </tbody>
            </table>
       </div>
    </body>
</html>